.welcome {
    margin-top: 350px;
    padding-left: 470px;
    font-size: 80px; 
    color: #1ABC9C;
}

.not {
    color: #ff5733; 
}

.nnot {
    color: #ff5733; 
}
.nfts_main {
    // margin: 0 20px;
}
ul{
    margin-top: 1200px;
    list-style-type: none;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 200px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 200px;
}
